body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('/public/fd1126aacd814032ddf8fb2ceee33c3d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000; 
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.new-article-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.articles-container {
  width: 60%;
  margin: 0 auto;
}

.articles-list {
  list-style: none;
  padding: 0;
}

.article-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.article-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-author, .article-date, .article-content {
  margin: 10px 0;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin: 10px 0;
}

.comment-item button {
  margin-left: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  color: #007BFF;
}

.save-btn:hover {
  color: #28a745;
}

.delete-btn:hover {
  color: #dc3545;
}

.like-btn {
  color: #ff6b6b;
}

textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea:focus, input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}
